<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='playerInfo.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <div class="layout-container">
        <div class="welcomeText">
            <strong><i>About Me</i></strong>
        </div><br />
        <div>
            <img class="format-img" src="static/images/linkedInPic.png" alt="" />
            <div class="profileFields">
                <label class="headers">
                    <i>Name:</i>
                </label>
                <div class="infoForFields" style="font-size: calc(8px + 1.25vw);">Johnny Persichilli</div><br/>
                <label class="headers">
                  <i>Email Address:</i>
                </label>
                <div class="infoForFields" style="font-size: calc(8px + 1.25vw);">jpersich@villanova.edu</div><br/>
                <label class="headers">
                    <i>Phone Number:</i>
                </label>
                <div class="infoForFields" style="font-size: calc(8px + 1.25vw);">516-606-1988</div><br/>
                <br />
            </div>
        </div>
    </div><br/><br/>
    <div>
        <a class="aboutMeText sentences seperate" href="/">Back To Questionnaire</a>
    </div>
</body>
</html>